/* *-*-*-*   BASIC STUFF   *-*-*-*  */

html, body {
	height: 100%;
}
* {
	font-family: inherit;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: sans-serif;
	margin: 0;
}
#app {
	padding: 16px;
	margin: 0 auto;
}

/* *-*-*-*   OVERALL LOOK   *-*-*-*  */

h1, h2, h3, h4, h5, h6 {
	padding: 0.8em 0 0.2em 0;
	font-weight: 700;
}
h1 {
	font-weight: 900;
}
h2, h3 {
	color: #910000;
}
p {
	padding-bottom: 8px;
	padding-top: 4px;
}

button {
	cursor: pointer;
	font-weight: inherit;
	font-size: 0.8rem;
	padding: 2px 4px;
	border-radius: 0.35em;
	border-width: 1px;
	border-style: solid;
	background-color: #eee;
}
button:hover:enabled {
	color: #910000;
	border-color: #910000;
	background-color: #f4eeee;
}
button:disabled {
	cursor: default;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #910000;
	text-decoration: underline;
}

nav a {
	padding-right: 8px;
}

ul, ol {
	list-style-type: none;
}
li {
	padding: 0 0 4px 0;
}

/* *-*-*-*   TABLES   *-*-*-*  */

table, th, td {
	border-color: #999;
	border-collapse: collapse;
	padding: 4px;
}

/* *-*-*-*   GENERICS   *-*-*-*  */

.quarter {
	width: 24%;
}
.third {
	width: 32%;
}
.half {
	width: 49%;
}
.whole {
	width: 99%;
}

.mini {
	font-size: 0.6rem;
}
.medium-mini {
	font-size: 0.8rem;
}
.center {
	text-align: center;
}

.flat {
	padding-top: 0px;
}

/* *-*-*-*   SPECIFICS   *-*-*-*  */

.artist-name {
	font-weight: bold;
}

.manager-box {
	padding: 8px 12px;
	background-color: #ccc;
	margin-bottom: 8px;
	width: 400px;
}

.manager-inner {
	background-color: #fff;
	margin: 5px;
	padding: 8px 16px;
}
.round-and-shadow {
	border-radius: 8px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}

.white-bg {
	background-color: #fff;
}

.gray-bg {
	background-color: #ddd;
}

.warning {
	color: #910000;
	font-weight: bold;
}
.red {
	color: #910000;
	font-weight: bold;
}

.svg_preview {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}
#month-view {
	position: relative;
}
